

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Mini-Medium | Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../public/assets/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../public/assets/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../public/assets/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../public/assets/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../public/assets/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css" href="../public/assets/css/ie9.css" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
    <script src="../public/assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="nav-container">
    <nav class="top-bar overlay-bar">
        <div class="container">

            <div class="row nav-menu">
                <div class="col-sm-3 col-md-2 columns">
                    <a href="index-2.html">
                        <img class="logo logo-light" alt="Logo" src="../public/assets/img/logo-light.png">
                        <img class="logo logo-dark" alt="Logo" src="../public/assets/img/logo-dark.png">
                    </a>
                </div>

                <div class="col-sm-9 col-md-10 columns">
                    <ul class="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a  href="blog.html">Blog</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Signup</a></li>
                    </ul>

                    <ul class="social-icons text-right">

                        <li>
                            <a href="#">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!--end of row-->

            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>

        </div><!--end of container-->
    </nav>

</div>

<div class="main-container">
    <header class="title">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="../public/assets/img/hero10.jpg">
        </div>

        <div class="container align-bottom">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-white">A Sample single blog post</h1>
                    <span class="sub alt-font text-white">15th May 2017 - 3 Minute Read</span>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </header>

    <section class="article-single">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="article-body">
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                        </p>
                        <figure>
                            <img alt="Blog Article Figure" src="../public/assets/img/hero3.jpg">
                            <figcaption>Here is a caption for this picture</figcaption>
                        </figure>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        </p>
                        <h2>A mid-post heading for some attention</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                        </p>
                        <blockquote>
                            “Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est”
                        </blockquote>
                        <p>
                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        </p>
                    </div><!--end of article body-->
                </div>
            </div><!--end of row-->

            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="author-details">
                        <img alt="Author" src="../public/assets/img/team-small-1.png">
                        <h5>Baba Dudu</h5>
                        <p>
                            Baba Dudu is a freelance writer and conservationist. He currently works as the Admissions Coordinator and oversees communications at the Seymour Marine Discovery Center in Ibadan, Nigeria.
                        </p>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="icon social_twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--end of row-->

        </div><!--end of container-->
    </section>
</div>

<div class="footer-container">

    <footer class="bg-primary short-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="text-white">© 2017 Pivot Inc.</span>
                    <span class="text-white"><a href="#">hello@mini-blog.net</a></span>
                    <span class="text-white">+234 6127 492</span>
                    <span class="text-white">300 Collins St. Ikeja Lagos 3000</span>
                </div>
            </div><!--end for row-->
        </div><!--end of container-->

        <div class="contact-action">
            <div class="align-vertical">
                <i class="icon text-white icon_mail"></i>
                <a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
            </div>
        </div>
    </footer>
</div>

<script src="../public/assets/js/jquery.min.js"></script>
<script src="../public/assets/js/jquery.plugin.min.js"></script>
<script src="../public/assets/js/bootstrap.min.js"></script>
<script src="../public/assets/js/jquery.flexslider-min.js"></script>
<script src="../public/assets/js/smooth-scroll.min.js"></script>
<script src="../public/assets/js/skrollr.min.js"></script>
<script src="../public/assets/js/spectragram.min.js"></script>
<script src="../public/assets/js/scrollReveal.min.js"></script>
<script src="../public/assets/js/isotope.min.js"></script>
<script src="../public/assets/js/twitterFetcher_v10_min.js"></script>
<script src="../public/assets/js/lightbox.min.js"></script>
<script src="../public/assets/js/jquery.countdown.min.js"></script>
<script src="../public/assets/js/scripts.js"></script>
</body>
</html>
